
<h1> Add a new post to the Sinatra Blog </h1>

<form action="/new_post" method="post">

	<div class="row">
        <div class="col-sm-1">
            Title 
        </div>
        <div class="col-sm-3">
        	<input type="title" id="title" name="title">
        </div>
    </div>  

    <div class="row">
        <div class="col-sm-1">
            Text 
        </div>            
        <div class="col-sm-3">
        	<input type="text" id="text" name="text">
        </div>
    </div>  
 	<br>
 	<input type="submit" value="Create">
</form>
